h1{
    width: 90px;
    color: black;
    border: 3px solid gray;
}

main{
   width: 130px;
   border: 4px double black;
}

body{
   background-color: beige;
}

.title{
color: black;
}
#subtitle{
    color: black;
}